body {
    margin-left: 20px;
    margin-right: 20px
}

.home-button {
    box-sizing: border-box;
    box-shadow: none;
    border: none;
    box-shadow: none;
    background-color: #ffffff;
    font-weight: bold;
     :hover {
        color: greenyellow;
    }
}

#home-image {
    width: 50px;
    height: 50px;
}

.upper_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
}

.outer_link {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.atag {
    text-decoration: none;
    color: green;
}

#get_started {
    width: 8em;
    height: 3em;
    background-color: #ffffff;
    border-radius: -10px;
    font-weight: bold;
    border: 1px solid green;
    margin-left: 6px;
     :hover {
        color: greenyellow;
    }
     :active {
        color: black;
    }
}

.lower_nav {
    display: flex;
    justify-content: space-around;
    margin-left: 15px;
    margin-right: 15px;
}

.lower_nav>a {
    text-transform: capitalize;
    color: black;
    font-weight: lighter;
    font-style: normal;
    text-decoration: none;
     :hover {
        color: greenyellow;
    }
}

.lower_nav>a:hover {
    color: greenyellow;
    text-decoration: underline;
    font-weight: bold;
}

header {
    text-align: center;
    padding: 20px;
}

.main_img {
    margin: auto;
    display: flex;
    justify-content: center;
}

.sub_header {
    text-align: center;
}

.text_file {
    align-items: center;
    width: 600px;
    align-items: center;
    margin: auto;
    padding-top: 20px;
    font-family: sans-serif;
    box-sizing: border-box;
}

hr {
    border: 1px solid #000000;
}

.more_article {
    width: 600px;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 70%;
    margin: 0 auto;
    font-weight: bold;
}

.grid>a {
    text-decoration: none;
    color: #000000;
    padding-bottom: 20px;
}

h2 {
    text-transform: capitalize;
}
